<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manchester City F.C.</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>Manchester City Roster</h1>
    <p>See details on your favorite Manchester City players!</p>
    
    <ul>
        <% players.forEach((player) => { %>
            <li><a href="players/<%= player._id %>"> <%= player.name %> </a></li>
        <% }) %>
    </ul>


    <a href="players/new"> Add a Player </a>

</body>
</html>