<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Player</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Add a New Player to the Squad!</h1>
        <form action="/players" method="POST"> <!--Why is the action linked to /players?-->
            <label for="name"> Name: </label>
            <input type="text" name="name" id="name" />

            <label for="position"> Position: </label>
            <select name="position" id="position">
              <option value="GK">GK</option>
              <option value="LB">LB</option>
              <option value="CB">CB</option>
              <option value="RB">RB</option>
              <option value="CDM">CDM</option>
              <option value="CM">CM</option>
              <option value="CAM">CAM</option>
              <option value="LW">LW</option>
              <option value="RW">RW</option>
              <option value="CF">CF</option>
              <option value="ST">ST</option>
            </select>
        
            <label for="number"> Number: </label>
            <input type="number" name="number" id="number" />

            <label for="isStarter"> Is Starter: </label>
            <input type="checkbox" name="isStarter" id="isStarter" />

            <button type="submit"> Add Player </button>
        </form>

        <a href="/players"> Back to Squad </a>
  </body>
</html>